* {
  font-family: Roboto;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.main-window {
  display: flex;
  height: 100vh;
}

.bounds-selector {
  width: 100%;
  height: 100%;
  display: flex;
}